<body style="background-color: beige; padding:2%; margin: 5%;">
<div style="background-color: lightgrey; border: 1px white solid; padding:1% 2% 1% 1%; margin-right: 80%;"><p>Tasks to do:</p></div>

<!--
 <h5 style="padding:2%; background-color: white; border: 1px lightgrey solid;">{{name}}</h5>
-->
 <h5 style="padding:2%; background-color: white; border: 1px lightgrey solid;">{{name1}}</h5>
 <h5 style="padding:2%; background-color: white; border: 1px lightgrey solid;">{{name2}}</h5>
 <h5 style="padding:2%; background-color: white; border: 1px lightgrey solid;">{{name3}}</h5>

</body>
